@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import "tailwindcss";



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.oxanium-uniquifier {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}




.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

