@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Oxanium', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.major-mono-display-regular {
  font-family: 'Major Mono Display', monospace;
  font-weight: 400;
  font-style: normal;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
